*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./imagenes/fondo.png);
}

.container{
    max-width: 1240px;
}

.logo{
    margin: 30px 20px 10px;
}

.nav{
    background-color: #003444;
    display: flex;
/*     margin: 0 50px; */
border-bottom: 3px solid red;
height: 50px;
}

.nav-link{
    color: seashell;
/*     padding: 15px; */
    border-right: 1px solid black;
    height: 47px;
}

.nav-link:hover{
    color: black;
    background:linear-gradient(to top, #faf9f7,  #d0bca7);
}

.tarjetas{
    margin-top: 20px;
}

.tarjetas1{
    background-color: rgb(253, 253, 253);
    margin: 0 3px;
}

.title{
    background-color: #003444;
    display: flex;
    margin: 0 40px;
    border-bottom: 3px solid red;
    color: rgb(255, 252, 249);
    font-size: 18px;
    align-items: center;
    height: 40px;
}

.letter{
    color: red;
}

.parte1{
    background-color: rgb(253, 253, 253);
}

.interno{
    background-color: #000f1a;
}